<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h2>Immediate Steps:</h2>
    <ol>
      <li>Go to a safe place and remove yourself from any immediate danger.</li>
      <li>Contact someone that you trust for emotional support.</li>
      <li>Report it by calling 911, notifying your local police department or visiting a medical center immediately.</li>
        <ul>
        	<li>Under the Violence Against Women Act, you are entitled to a free sexual assault forensic exam, which should be performed within 72 hours of the assault. Whether you decide to immediately report the case or not, the evidence collected through this exam will be stored for 6 months.</li>
        </ul>
      <li>Preserve all physical evidence.</li>
      	<ul>
        	<li>Avoid showering, using the restroom, combing your hair, and changing your clothes.</li>
        </ul>
    </ol>s
  </body>
<style>

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script>

      var map;
      var infoWindow;
      var service;
      var crd;

      var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

  navigator.geolocation.getCurrentPosition(success, error, options);
  function success(pos) {
    crd = pos.coords;
    return crd;
  };

  function error(err) {
    console.warn('ERROR(' + err.code + '): ' + err.message);
  };

  function initMap() {
    navigator.geolocation.getCurrentPosition(success, error, options)
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: crd.latitude, lng: crd.longitude},
          zoom: 14,
          radius: 100,
          styles: [{
            stylers: [{ visibility: 'simplified' }]
          }, {
            elementType: 'labels',
            stylers: [{ visibility: 'off' }]
          }]
        });

        var cityCircle = new google.maps.Circle({
          strokeColor: '#81CFD1',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#81CFD1',
          fillOpacity: 0.35,
          map: map,
          center: {lat: crd.latitude, lng: crd.longitude},
          radius: 16093,
        });

        infoWindow = new google.maps.InfoWindow();
        service = new google.maps.places.PlacesService(map);
        // The idle event is a debounced event, so we can query & listen without
        // throwing too many requests at the server.
        map.addListener('idle', performSearch);
        map.addListener('idle', performSearch1);
      }

      function performSearch() {
        var request = {
          bounds: map.getBounds(),
          keyword: 'hospital',
        };
        service.radarSearch(request, callback);
      }

      function performSearch1() {
        var request = {
          bounds: map.getBounds(),
          keyword: 'police',
        };
        service.radarSearch(request, callback);
      }

      function callback(results, status) {
        if (status !== google.maps.places.PlacesServiceStatus.OK) {
          console.error(status);
          return;
        }

        var marker = new google.maps.Marker({
          position: {lat: crd.latitude, lng: crd.longitude},
          map: map,
          title: 'You are here'
        });

        marker.setMap(map);

        for (var i = 0, result; result = results[i]; i++) {
        //   addMarker(result);
        //   var dist = google.maps.geometry.spherical.computeDistanceBetween(obj.geometry.location.lat(result) , crd);
        //   console.log(dist);
        // if (dist <= 100){
          addMarker(result);
          }
        }

      function addMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location,
          icon: {
            url: 'http://maps.gstatic.com/mapfiles/circle.png',
            anchor: new google.maps.Point(10, 10),
            scaledSize: new google.maps.Size(10, 17)
          }
        });

        google.maps.event.addListener(marker, 'click', function() {
          service.getDetails(place, function(result, status) {
            if (status !== google.maps.places.PlacesServiceStatus.OK) {
              console.error(status);
              return;
            }
            infoWindow.setContent(result.name);
            infoWindow.open(map, marker);
          });
        });
      }
    </script>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2tEZYe153X0mjpEFdgjViaH46lPasUMg&callback=initMap&libraries=places,visualization" async defer></script>
  </body>

  <body>
    <h3>Tips for Survivors Seeking Justice</h3>
    	<p>If you choose to report the sexual asault and intend to press charges, there are two types of cases:</p>
    <table style="width:100%">
      <tr>
        <th>Criminal</th>
        <th>Civil</th> 
      </tr>
      <tr>
        <td>This is an attempt to prove the attacker is guilty and forces him/her to serve jail time.</td>
        <td>This is an attempt to win financial compensation. Your lawyer will argue the assaulter should be held accountable for any medical costs or possible psychological and emotional damages.</td> 
      </tr>
      <tr>
        <td>Evidence is needed to begin a trial. In lawyer-speak you need “proof beyond reasonable doubt.” </td>
        <td>Less proof is needed to begin a court case.</td>
      </tr>
      <tr>
        <td>An attorney from the state ultimately has full control over the case.</td>
        <td>You will be represented by a private attorney and can make decision s regarding the case.</td>
      </tr>
      <tr>
        <td>You will be asked to testify.</td>
        <td>You will be asked to testify.</td>
      </tr>
    </table>
    <h3>Advice for Survivors who Testify</h3>
      <ul>
        <li>If you have any concerns or reservations about testifying, speak to your attorney directly</li>
        <li>In a criminal case, you are protected under the rape shield law which means examiners cannot ask about your prior sexual history</li>
        <li>To avoid getting overwhelmed, remember to take pauses and avoid looking at the defendant</li>
        <li>Tell the truth and if you misspeak, take a second to fix it</li>
        <li>Ask for clarification if you ever get confused by the questions</li>
      </ul>
    <h3>Helpful Organizations</h3>
    <ul>
        <li><a href = "http://www.woar.org/counseling-and-support/">Women Organized Aginst Rape offers counseling, crisis services, and support to survivors of all ages</li>
        <li><a href = "https://www.rainn.org/">RAINN gives survivors advice about life after a sexual assault</li>
        <li><a href = "www.nsvrc.org/">The National Sexual Violence Resource Center aims to be a leader in responding to sexual violence</li>
        <li><a href = "www.soar99.org/">Speaking Out About Rape is a blog that aims to raise national awareness and inspire survivors with inspirational stories </li>
        <li><a href = "www.vday.org/">V Day is a global movement to stop violence against women</li>
        <li><a href = "http://www.svfreenyc.org/">The New York City Alliance Against Sexual Assault</li>
    </ul>
  </body>
</html>