<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50"> 

        </div>
        <h1>
        THE 35%
    </h1>
    <h3>What is Sexual Assault? </h3>
      <p>Sexual assault is any sexual activity where explicit consent is NOT given. </p>
      <p>Consent is consciously saying YES.</p>
      <p>Consent is NOT given by: </p>
      <ul>        <li> The clothes that I wear, no matter how “provocative”. </li>

      	<li> The amount of alcohol or drugs that I’ve consumed. </li>
		    <li> Whatever prior relations we may have. </li>
		    <li> Where I'm walking. </li> 
      </ul>
      <!--the list of stuff goes here we have to figure out how to put the ribbon things on the list -->
    <div id="section1" class="container-fluid">
      <h3> Statistics</h3>
      <!--list of images go here-->
      <center><table style= "width:1100px" ></center>
        <tr>
          <th><img src = "http://oi64.tinypic.com/311q4ua.jpg" align = "middle"><br><br>One in five women will be raped at some point in their lives</br></th>
          <th><img src = "http://oi67.tinypic.com/f2rpdf.jpg" align = "middle"><br><br>An American is sexually assaulted every 2 minutes</br></th> 
          <th><img src = "http://oi67.tinypic.com/o8rx4x.jpg" align = "middle"><br><br>91% of the victims of sexual assault are female</br></th>
        </tr>
        <tr>
          <th><img src = " http://oi65.tinypic.com/hwa2o5.jpg" align = "middle"><br><br>In eight out of 10 cases of rape, the victim was raped by someone they knew</br></th>
          <th><img src = " http://oi64.tinypic.com/v4xq14.jpg" align = "middle"><br><br>More than 90% of sexual assault cases on college campuses are unreported</br></th>
          <th><img src = " http://oi66.tinypic.com/2upw95k.jpg" align = "middle"><br><br>Rape is the most underreported crime; only 35% of sexual assaults are reported to police</br></th>
        </tr>
      </table>
    </div>
    <div id="section2" class="container-fluid">  <h3>Mission</h3> 
      <p> Our mission is to decrease the national number of unreported sexual assaults and to start a much-needed conversation about it in our society. Through establishing a safe outlet and resources for sexual assault victims, we hope to abolish the victim-blaming cultural norm and encourage women to voice their stories. Together, we can raise awareness of sexual assault, and start a movement. We hope that you will join us on this journey. </p> 
    </div>
    <div id="section3" class="container-fluid"><h3>Myths Debunked</h3>
    	<p> 
        <ol>
          <li>"Rape is about sex."</li>
    FALSE. Rape is not about sex; rather it is about power and control. Rape is an act of violence and it cannot be justified by sexual desires.
          <li>"Sexual perpetrators are usually strangers, who are mentally ill."</li>
    FALSE. In 8 out of 10 cases of rape, the victim knew the purpose who sexually assaulted them.
          <li>"Not fighting back means the victim 'wanted it'."</li>
    FALSE. During sexual assaults, the victim often experiences a "freeze response," in which he or she physically cannot move or speak. 
        </li>
      </ol>
    </p>
    </div>
    <div id="section4" class="container-fluid"><h3>About Us</h3>
      <p> 
      	<ul> 
      		<li> Wabil Asjad is a rising junior from New Jersey. She is a feminist who has a passion for computer science, volleyball, and technology. </li>
      		<li> Brienna Carter will be a high school senior next year. As displayed by this project, she is passionate about both feminism and computer science. </li>
      		<li> Fatema Lovely is a rising senior in New York City. She values opportunity, potential, and equity for everyone. In the future, she aspires to pursue a career in the medicine field.</li>
      		<li> Majella Sheehan is a rising junior from New York City and her interests include basketball, history, feminism and activism. </li>
      		<li> Linda Tun is a rising senior from New York City. She hopes to pursue Biochemistry and Art History in her collegiate career while integrating her passions for computer science and feminism in her future endeavors. </li>
      	</ul>
      </p>
    </div>
</body>
</html>