<!DOCTYPE html>
<html>
  <head>
    <title>The 35%</title>
            <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="style">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">The 35%</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">About<span class="caret"></span></a>
          <ul class="dropdown-menu">   
            <li><a href="/#section1">Statistics</a></li>
            <li><a href="/#section2">Mission</a></li>
            <li><a href="/#section3">Myths Debunked</a></li>
            <li><a href="/#section4">About Us</a></li>
          </ul>
          <li><a href="chat">Chat</a></li>
          <li><a href="resources">Resources</a></li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

    <body data-spy="scroll" data-target=".navbar" data-offset="50"> <br><br><Br>
    {{{body}}}
  </body>
</html>
