.body{
	background-image: url("pic.png");
	background-attachment: fixed;
	background-size: 100% 100%;
	position: relative;
}

.heading{
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 105px;
	letter-spacing: 5px;
	font-style: bold;
}

.container {
	position: relative;
	overflow: hidden;
	width: 1450px;
}
.door-left, .door-right {
	position: absolute;
	height: 700px;
	width: 50%;
	top: 0%;
	transition: all ease 0.5s;                      
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5;
}
.door-left {
	left: 0%;
	background: url(http://i64.tinypic.com/1voxx.jpg);
	background-size: cover;
}
.door-right {
	left: 50%;
	background: url("https://s9.postimg.org/y3umad4db/rightd.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}
.container:hover .door-left{
	left: -50%;
}
.container:hover .door-right{
	left: 100%;
}
  #section1 {padding-top:50px;height:600px;color: #fff; background-color: white;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section4 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section5 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}

table, th, td {
	border: 1px solid transparent;
    padding: 15px;
    border-spacing: 5px;
    font-family: 'Quicksand', sans-serif;
    color: gray;
    font-weight: normal;
    text-align: center;
}

