.body{
	background-image: url("pic.png");
	background-attachment: fixed;
	background-size: 100% 100%;
	position: relative;
}

h3{
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	font-style: bold;
}

.container {
	position: relative;
	overflow: hidden;
	width: 1450px;
}

  #section1 {padding-top:20px;padding-bottom:20px;color: black; background-color: white;width:100%;}
  #section2 {padding-top:20px;padding-bottom:20px;color: #fff; background-color: #A599B5;width:100%;}
  #section3 {padding-top:20px;padding-bottom:20px;color: black; background-color: white;width:100%;}
  #section4 {padding-top:20px;padding-bottom:20px;color: #fff; background-color: #70B2B5;width:100%;}
  #section5 {padding-top:20px;padding-bottom:20px;color: #fff; background-color: #8896B0;width:100%;}

table, tr, td {
	border: 1px solid transparent;
    padding: 15px;
    border-spacing: 5px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
/*    text-align: center;*/
}
body, .count {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #8896B0;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 2px;
    opacity:0.9;
    min-height:50px;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: white !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:white !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #586A7E !important;
}

/* Dropdown links */
.dropdown-menu li a {
	font-size:11px;
    color: #586A7E !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
	font-size:11px;
    background-color: #A599B5 !important;
}

br {
	display: block;
	margin: 10px 0;
	line-height:50px;
}

/*#DDDCE2 (light gray)
#81CFD1 (light logo blue)
Black: #000000
White: #FFFFFF 
Darker Gray: #333333 (this would be nice for paragraph text)*/
/*FADED BLUE #8896B0
PURPLE: A599B5
NAVY: #586A7E*/

html{
    width: 100%;
}

table{
    width: 100%;
    table-layout: fixed;
}

td{
    display: table-cell;
    width: 30%;

    text-align: center;
    overflow: hidden;
    vertical-align: baseline;
}

.image img{
   height: auto !important;
   width: auto !important;
   max-width: 100%;   
}

.footer {
  background-color:#81CFD1;
  text-align: center;
  width: 100%;
  height: 60px;
}